html, body {
    
}

p {
    margin-bottom: 20px;
}

.images{
    display:inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
}

.images figcaption{
    display:inline-block;
    font-size: 18px;
    max-width: 30%;
    text-align: center;
    margin: auto;

}

figure{
    margin-bottom: 0px;
}

img {
    max-width: 45%;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto;
    text-align: center;
}

.styled-table thead tr {
    background-color: #b9f2f0;
    color: black;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 2px 5px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #b9f2f0;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #b9f2f0;
}

.table-container{
    padding-top: 10%;
}

.table-container h3{
    text-align: center;
    margin-bottom: 27px;
    font-size: 27px;

}

.container_base{
    padding-left: 5%;
    padding-right: 5%;
    max-width: 950px;
    margin: auto;
}


.table-subscription{
    padding-top: 20px;
    max-width: 80%;
    margin: auto;
}

