{% extends 'base.html' %}
{%  block head %}
{% endblock %}

{% block content %}

<div class="table-container">
    <h3>Список работников, находящихся в зоне риска увольнения</h3>
    <!-- <a href="#anch_end">ENDING</a> -->

    <table class="styled-table">
    {% for row in table %}
        {% if loop.index == 1 %}
            <thead>
        {% elif loop.index == 2 %}
            </thead>  
            <tbody>
        {% endif %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>

            {% if row[-2] != 0 %}
                <td>{{ row[4] }}</td>
            {% else %}
                <td style="color : rgba(255, 119, 115);">{{ row[4] }}</td>
            {% endif %}

            {% if row[-3] != 0 %}
                <td>{{ row[5] }}</td>
            {% else %}
                <td style="color : rgba(255, 119, 115);">{{ row[5] }}</td>
            {% endif %}

            {% if row[-1] != 0 %}
                <td>{{ row[6] }}</td>
            {% else %}
                <td style="color : rgba(255, 119, 115);">{{ row[6] }}</td>
            {% endif %}
        </tr>
        
        </tbody>
    {% endfor %}

    </table>
</div>

<div class="table-subscription">
    <p>Актуальный список работников, у которых есть причины уволиться. В таблице <span style="color : rgba(255, 119, 115); margin:none;"></span> выделено:</p>
    <ul>
        <li><b style="color : #d0bbff;">Возраст</b>, если работник заметно младше, чем средний возраст в отделе</li>
        <li><b style="color : #8de5a1;">Прием</b>, если опыт работника существенно ниже, чем у коллег в отделе</li>
        <li><b style="color : #a1c9f4;">Оплата</b>, если работник получает меньше, чем коллеги в отделе</li>
    </ul>
</div>

<div class='images'>
    <figure>
        
        <figcaption>Доля сотрудников с высоким риском увольнения относительно общего числа сотрудников</figcaption>
        <img src="{{ piechart1_src }}">
    </figure>
    <figure>
        
        <figcaption>Основные причины увольнения</figcaption>
        <img src="{{ piechart2_src }}">
    </figure>

</div>

<div class="epic_ending"  id="anch_end"></div>
{% endblock %}